/**************desktop*******************/
@media screen and (min-width: 700px) and (max-width:1400px){
    #div1
    {
        background-image: url(/image/slider1.jpg);
        height: 600px;
        text-align: center;
        align-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
}
@media screen and (min-width: 700px) and (max-width:1400px){
    #para1
    {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: normal;
    }
}
@media screen and (min-width: 700px) and (max-width:1400px){
    #heading1
    {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 91px;
        font-weight: 800;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    }

}


/**************tablet*******************/
@media screen and (min-width: 500px) and (max-width:800px){
    #div1
    {
        background-image: url(/image/slider1.jpg);
        height: 300px;
        text-align: center;
        align-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
}
@media screen and (min-width: 500px) and (max-width:800px){
    #para1
    {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 30px;
        font-weight: normal;
    }
}
@media screen and (min-width: 500px) and (max-width:800px){
    #heading1
    {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 70px;
        font-weight: 800;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    }

}



/**************mobile*******************/
@media screen and (min-width: 0px) and (max-width:500px){
    #div1
    {
        background-image: url(/image/slider1.jpg);
        height: 300px;
        text-align: center;
        align-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
}
@media screen and (min-width: 0px) and (max-width:500px){
    #para1
    {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 20px;
        font-weight: normal;
    }
}
@media screen and (min-width: 0px) and (max-width:500px){
    #heading1
    {
        color: #FFFFFF;
        font-family: "Poppins", Sans-serif;
        font-size: 40px;
        font-weight: 800;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    }

}






